/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/proximanova-light-webfont.woff2') format('woff2');
}

html,
body,
div,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
img,
input,
select,
textarea,
form,
span,
a,
cite,
header,
nav,
footer,
section,
article,
hgroup {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Pacifico", Georgia, "Times New Roman", serif;
}

body {
    background: #222222;
    color: #e4e4e4;
}

.container {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    min-height: 500px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.border-tp {
    border-top: 1px solid #2f2f2f;
}

.card_layout {
    width: 100%;
    overflow: hidden;
    padding: 1px;
}

.clearfix:before {
    display: table;
    visibility: hidden;
    content: '';
    line-height: 0;
    clear: both;
}

.hide {
    display: none;
}

.content p {
    margin: 10px;
}


/*menu left*/

nav {
    background: #151515 none repeat scroll 0 0;
    border-right: 1px solid #2f2f2f !important;
    height: 100%;
    left: 0;
    margin-top: 2px;
    position: fixed;
    width: 130px;
    z-index: 200;
}

nav>ul {
    margin-top: calc((100% - 70px)/2);
}

nav>ul>li {
    text-align: center;
    display: block;
    position: relative;
    padding: 6px 0;
}

nav>ul>li.actives {
    display: block;
    border: none;
}

nav>ul>li.actives a {
    border-left-color: #ff3e18;
    opacity: 1;
    filter: alpah(opacity=100);
}

nav>ul>li:hover a {
    border-left-color: #ff3e18;
    opacity: 1;
    filter: alpah(opacity=100);
}

nav>ul>li a {
    background: #151515;
    display: block;
    color: #e4e4e4;
    padding: 0;
    text-transform: capitalize;
    font-size: 30px;
    position: relative;
    z-index: 200;
    border-left: 3px solid transparent;
    line-height: 40px;
    opacity: .7;
    filter: alpha(opacity=70);
}

nav>ul>li a span.fa {
    display: block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    margin: 4px auto;
}


/*end of menu left*/


/*categories container*/

#right-coontainer {
    width: calc(100% - 170px);
    height: 100%;
    padding: 20px;
    position: relative;
    z-index: 1000;
}

#right-coontainer h2 {
    padding-bottom: 20px;
    font-size: 45px;
}

.carousel {
    padding: 10px 20px 20px;
    margin: 20px 10px;
    border: 1px solid #2f2f2f;
}

.carousel h2 {
    font-size: 135%;
    font-weight: 400;
    padding: 8px 0;
    text-align: center;
}

.carousel h2 a.section-heading {
    color: #d1d1d1;
    font-size: 100%;
    float: left;
}

.carousel .card_layout {
    position: relative;
}

.card_layout ul.carousel_ul {
    position: relative;
}

.card_layout ul li {
    width: 18%;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    margin-bottom: 30px;
}

.carousel .card_layout ul li {
    display: block;
    float: left;
    margin: 0;
}

.carousel .card_layout ul li:hover {
    cursor: pointer;
}

.card_layout ul li div.card_layout_data {
    margin-right: 20px;
    background: #2f2f2f;
}

.card_layout ul li div.card_layout_data div,
.card_layout ul li div.card_layout_data div img {
    width: 100%;
    border-color: transparent;
}

.card_layout ul li div.card_layout_data .arwtork_label {
    padding: 9px 10px 10px;
    width: auto;
    border: 1px solid #2f2f2f;
    border-top: none;
    position: relative;
    height: 50px;
    width: calc(100% - 20px);
}

.card_layout ul li div.card_layout_data div img {
    display: block;
}

.card_layout ul li div.card_layout_data div,
.card_layout ul li div.card_layout_data div img {
    width: 100%;
    border: none;
}

.hover-events-parent {
    position: relative;
    cursor: pointer;
    border: 1px solid #red;
    border-bottom: none;
}

.carousel .card_layout ul li:hover .arwtork_label,
.carousel .card_layout ul li:hover .hover-events-parent {
    border-color: #fff;
}

.hover-events-parent:hover .hover-activity,
.hover-events-parent:active .hover-activity {
    display: block !important;
}

.arwtork_label {
    font-size: 95%;
    color: #e4e4e4;
    text-transform: capitalize;
    outline: 0;
    border: 0;
    text-decoration: none;
}

.block_dotes {
    display: block;
    max-height: 32px;
    margin: 0 auto;
    line-height: 16px;
    overflow: hidden;
    position: relative;
}

.dotes {
    text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.card_layout ul li div.card_layout_data a.album-name {
    font-size: 95%;
    color: #e4e4e4;
    text-transform: capitalize;
}

.card_layout ul li div.card_layout_data .artist-name {
    font-size: 80%;
    color: #999;
    text-transform: capitalize;
    margin-top: 4px;
}

.arwtork_label a,
.arwtork_label a:hover {
    font-size: 95%;
    color: #e4e4e4;
    text-transform: capitalize;
    outline: 0;
    border: 0;
    text-decoration: none;
}

.hover-activity {
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
}

.hover-activity .play-icon {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.play-icon {
    position: absolute;
    width: 33px;
    height: 33px;
    display: block;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 600;
    line-height: 33px;
    text-align: center;
    color: #fff;
    font-size: 33px;
    line-height: 33px;
}

.slide-navigation {
    display: inline-block;
    margin: 0 auto;
}

.slide-navigation button {
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #fff;
}

.top-title {
    padding: 9px 20px 0;
    border-bottom: 1px solid #2f2f2f;
    position: relative;
    color: #e4e4e4;
}


/*end categories container*/


/*detail page*/

.audio-player-container {
    margin-top: 20px;
    position: fixed;
    bottom: 0;
}

.row {
    width: 100%;
    position: relative;
    clear: both;
}

.col-6 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    /*padding-left: 10px;
    padding-right: 10px;*/
}

.song-active {
    padding-right: 20px;
    border-right: 1px solid #2f2f2f;
}

.song-img {
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

.song-img img {
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

.button-song {
    margin-top: 20px;
}

.button-song a {
    color: rgb(196, 196, 196);
    font-size: 20px;
    margin: 0 15px;
}

.button-song a span.fa-play {
    font-size: 35px;
}

.button-song a:hover {
    color: #fff;
}

.list-song {
    font-family: proxima_nova_rgregular, arial;
    width: 100%;
    padding-top: 15px;
}

.list-song .list-active {
    padding-left: 25px;
}

.list-song .list-active img {
    width: 200px;
}

.list-songs {
    padding: 0 10px;
}

.transparent_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-image: url(../img/artwork.jpg);*/
    background-image: url(https://i.ytimg.com/vi/Fwy4fPoInH4/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%!important;
    opacity: .3!important;
    z-index: -15;
    background-attachment: scroll;
    transform: translateZ(0);
    perspective: 1000px;
    backface-visibility: hidden;
    -moz-transform: translateZ(0);
    -moz-perspective: 1000px;
    -moz-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000px;
    -webkit-backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.transparent_img {
    filter: url(#blur);
    filter: blur(40px);
    -webkit-filter: blur(40px);
}

.list-songs li {
    cursor: pointer;
    padding: 15px 25px;
    display: block;
}

.list-songs li a {
    font-size: 18px;
    color: #e4e4e4;
}

.list-songs li a span {
    font-size: 20px;
    line-height: 23px;
}

.list-songs li a strong {
    padding-left: 10px;
}


/*end detail page*/


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}


/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}


/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
        /* h5bp.com/t */
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}

.circle_layout {
    width: 100%;
    overflow: hidden;
    padding: 1px
}

.circle_layout ul.carousel_ul {
    position: relative
}

.circle_layout ul li {
    width: 150px;
    display: inline-block;
    margin-left: -4px;
    vertical-align: top
}

.carousel .circle_layout ul li:first-of-type {
    margin-left: 0
}

.circle_layout ul li div.circle_layout_data {
    margin-right: 20px
}

.circle_layout ul li div.card_layout_data {
    background: 0 0
}

.circle_layout ul li div.circle_layout_data>div.hover-events-parent {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}

.circle_layout ul li div.circle_layout_data div,
.circle_layout ul li div.circle_layout_data div img {
    width: 100%
}

.circle_layout ul li div.circle_layout_data div img {
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    opacity: .6!important
}

.circle_layout ul li div.circle_layout_data div a:hover img {
    opacity: 1!important
}

.circle_layout ul li div.circle_layout_data>a {
    display: block;
    width: 100%
}

.circle_layout ul li div.circle_layout_data .arwtork_label {
    padding: 10px;
    width: auto;
    text-align: center;
    position: relative;
    top: -50%
}

.circle_layout ul li div.circle_layout_data .artist-name {
    font-size: 120%;
    color: #fdc500;
    text-transform: capitalize;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 120px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%)
}

.circle_layout ul li div.circle_layout_data span.album-name {
    font-size: 100%;
    color: #999;
    text-transform: capitalize
}

.circle_layout ul li div.circle_layout_data:hover a.album-name {
    color: #fff
}

.label-name {
    color: #fff;
    font-size: 140%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: block;
    top: 50%;
    left: 50%;
    text-align: center;
    font-weight: 400;
    white-space: normal;
    width: 90%
}

.dotes {
    text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block
}

.ui-widget-content a:hover {
    border-color: red;
    /*padding: 0;
    margin: 0;*/
}

#tabs {
    background: transparent;
    border: none;
    font-size: 25px;
}

.fotorama {
    margin: 0 auto;
    width: 70%;
}

.ui-widget-header {
    background: transparent;
    border: none;
}

.hover-events-parent a:hover {
    border: 1px solid red;
    float: left;
    padding: 3px;
}

a.active {
    border: 1px solid red;
    float: left;
    padding: 3px;
}

.control-effect {
    width: 370px;
    margin: 0 auto;
    margin-top: 20px;
}

.control-effect li {
    float: left;
    width: 100px;
    text-align: center;
    border-radius: 1px solid white;
    padding: 10px;
}

.control-effect img {
    width: 30px;
    height: auto;
    cursor: pointer;
    border-radius: 50%;
}

.opacity {
    opacity: 0.5;
}

.imageflipped {
    -moz-transform: scaleX(-1) !important;
    -o-transform: scaleX(-1) !important;
    -webkit-transform: scaleX(-1) !important;
    transform: scaleX(-1) !important;
    filter: FlipH !important;
    -ms-filter: "FlipH" !important;
}

.rotate90 {
    -webkit-transform: rotate(90deg) !important;
    -moz-transform: rotate(90deg) !important;
    -o-transform: rotate(90deg) !important;
    -ms-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
}

.rotate180 {
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}

.rotate270 {
    -webkit-transform: rotate(270deg) !important;
    -moz-transform: rotate(270deg) !important;
    -o-transform: rotate(270deg) !important;
    -ms-transform: rotate(270deg) !important;
    transform: rotate(270deg) !important;
}

.rotate360 {
    -webkit-transform: rotate(360deg) !important;
    -moz-transform: rotate(360deg) !important;
    -o-transform: rotate(360deg) !important;
    -ms-transform: rotate(360deg) !important;
    transform: rotate(360deg) !important;
}

#div-flip,
#div-rotate {
    cursor: pointer;
    font-size: 20px;
}

.active {
    border: 1px solid green;
}

.active {
    border: 1px solid green;
}

#div-flip:focus {
    border: 1px solid green;
}

#div-rotate:focus {
    border: 1px solid green;
}
#div-slideshow:focus {
    border: 1px solid green;
}
#div-flip:hover {
    border: 1px solid green;
}

#div-rotate:hover {
    border: 1px solid green;
}
#div-slideshow:hover {
    border: 1px solid green;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	 border: 2px solid red;
    margin-bottom: auto;
    padding-bottom: auto;
}
.ui-tabs .ui-tabs-nav li{
          margin: 1em;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
        padding: 1em;
}