<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/SimpleService" version="1.0.0" viewmodes="maximized">
    <tizen:application id="rmyOMbyr0K.SimpleService" package="rmyOMbyr0K" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <icon src="icon.png"/>
    <name>SimpleService</name>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
    <tizen:service id="rmyOMbyr0K.service">
      <tizen:content src="service.js" />
      <tizen:name>SimpleService</tizen:name>
      <tizen:icon src="icon.png" />
      <tizen:description>Simple Web Service</tizen:description>      
    </tizen:service>
</widget>
